/* Basic colors */
@font-face {
  font-family: 'FuturaLightC';
  src: url('../fonts/FuturaLightC.eot');
  src: local('Futura Light Cyrillic'), local('FuturaLightC'), url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaLightC.woff') format('woff'), url('../fonts/FuturaLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaBookC';
  src: url('../fonts/FuturaBookC.eot');
  src: local('Futura Book Cyrillic'), local('FuturaBookC'), url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBookC.woff') format('woff'), url('../fonts/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: reg();
}
/* Basic setting */
html {
  font-size: 10px;
}
section {
  padding: 10rem 0;
}
main {
  padding: 3rem 0;
}
main-content {
  margin-top: 10rem;
}
.main-content {
  margin-top: 10rem;
}
.tel {
  display: inline-block;
  color: #000000;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
  line-height: 30px;
  font-size: 20px;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-family: bold();
}
.button {
  padding: 1rem 3rem;
  border-radius: 2px;
  font-size: 1.2rem;
  background-color: #ffcc33;
  color: #000000;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #ffbf00;
}
